$content-width: 800px;
$tablet-width: 550px;
$phone-width: 400px;

$color-main: #000000;
$color-bgrd: #ffffff;

$color-bgrd-field: rgba(47, 62, 73);
$color-bgrd-field-plus: rgba(47, 62, 73, 0.4);

$color-field: limegreen;
$color-card: orange;
$color-field-cover: #0ca00c;
